/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/views/layouts/app.blade.php
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.xml
/resources/views/auth/passwords/email.blade.php
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/entities/entities.dat
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/entities/entities.dat.len
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/entities/entities.dat.values
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/entities/entities.dat.values.at
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/entities/entities.dat.values.s
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/entities/entities.dat_i
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/entities/entities.dat_i.len
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf.xml
/resources/views/home.blade.php
/app/Http/Controllers/HomeController.php
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/commandlinetools/Laravel_08_02_2022__16_29.xml
/resources/views/auth/login.blade.php
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/resources/views/auth/register.blade.php
/resources/views/auth/passwords/reset.blade.php
/.idea/dataSources/fc022bb7-dcfe-4c99-8812-5ed68be4e1bf/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/vcs.xml
/resources/views/auth/verify.blade.php
/.idea/webResources.xml
